.table-price-container {
  padding-top: 50px;
  padding-bottom: 50px;
  h2 {
    margin-bottom: 45px;
  }
  .table > thead > tr > th {
    border-bottom: 2px solid #007eff;
    color: #007eff;
  }
}
@media (max-width: 991px) {
  .table-price-container {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media (max-width: 767px) {
  .table-price-container {
    .scroll-table {
      width: auto;
      white-space: nowrap;
      overflow-x: auto;
    }
    h2 {
      margin-bottom: 20px;
    }
  }
}
.company-renewal-page{
  .table-price-container table tbody tr{
    &:nth-child(14) td a{
      &:hover{
        color: #007eff;
      }
    }
  }
}
