.service-corporate-secretary {
  margin-bottom: 50px;
  .feature {
    margin-top: 45px;
    width: 25%;
    padding: 15px;
    .content {
      display: block;
      height: 100%;
      padding: 50px 30px 40px 30px;
      box-shadow: 0px 0px 18px 0px rgba(119, 119, 119, 0.3);
      &:hover {
        box-shadow: 0px 0px 22.5px 2.5px rgba(119, 119, 119, 0.4);
        p {
          color: $blue;
          font-family: "RobotoMedium";
        }
      }
      border-radius: 20px;
      img {
        margin-bottom: 25px;
        width: auto;
        height: 80px;
      }
      p {
        font-family: "Roboto";
        font-size: 20px;
        color: #333333;
      }
    }
  }
  .service-title {
    text-align: center;
    padding-top: 100px;
  }
}

@media only screen and (max-width: 991px) {
  .service-corporate-secretary {
    .feature {
      width: 33.33%;
    }
  }
}
@media only screen and (max-width: 767px) {
  .service-corporate-secretary {
    margin-bottom: 0;
    .feature {
      width: 50%;
    }
  }
}
@media only screen and (max-width: 500px) {
  .service-corporate-secretary {
    margin-bottom: 0;
    .feature {
      width: 100%;
      margin-top: 10px;
    }
  }
}
