$font-1st: "Calibri";
$font-2nd: 'Roboto', sans-serif;
$font-3rd: "Norwester";

$color-1st: #be1e2d;
$color-2nd: #ea1e63;
$color-heading: #3c424d;
$color-text: #081526;
$color-dark: #161824;

$document-font-size: 14px;

$timing: cubic-bezier(0.77, 0, 0.175, 1);
$timing-1: cubic-bezier(0.7,0,0.3,1);
$timing-2: cubic-bezier(0.2,1,0.3,1);

$shadow: 7px 8px 6px -4px rgba(0, 0, 0, 0.35);
$gray: #f2f1f1;
$text: #333333;
$border: #d8d8d8;
$yellow: #ea8518;
$orange: #ff8f14;
$footer: #333333;
$white: #ffffff;
$menu: #f6f6f6;
$blue: #007eff;