@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,400,700,900');
@keyframes pop-in {
	0% {
		opacity: 0;
		transform: scale(0.8);
	}
}

#name-generation-result {
	max-width: 960px;
	display: flex;
	flex-wrap: wrap;

	&.extend {
		margin: 64px auto 16px auto;
		padding: 16px;
	}

	.result-item {
		display: block;
		flex: 0 0 50%;
		flex-wrap: wrap;
		font-size: 18px;
		color: #333;
		text-decoration: none;

		& > span {
			display: block;
			background: white;
			height: 160px;
			line-height: 160px;
			margin: 8px;
			box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
			text-align: center;
			animation: pop-in 300ms ease-out;
			font-size: 1.2em;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			font-size: 1.1em;
		}

		&:hover > span {
			transform: scale(0) translate3d(0, 0, 0);
			transition: transform 150ms ease;
			transform: scale(1) translate3d(0, 0, 0);
		}

		&:nth-child(3n+2) > span {
			text-transform: none;
			font-weight: 200;
			letter-spacing: 0;
			font-size: 1.9em;
		}

		&:nth-child(7n+3) > span {
			text-transform: none;
			font-weight: 700;
			letter-spacing: -0.05em;
			font-size: 1.7em;
		}

		&:nth-child(5n+0) > span {
			text-transform: uppercase;
			font-weight: 900;
			letter-spacing: 0.2em;
			font-size: 1.1em;
		}

	}

	// & > hr {
	// 	flex: 1 1 100%;
	// 	background: #888;
	// 	height: 1px;
	// 	margin: 16px 32px;
	// }

	@media (min-width: 768px) {
		.result-item {
			flex: 0 0 33%;

			&:nth-child(3n+1) {
				transform: translate3d(0, -48px, 0);
			}

			&:nth-child(3n+3) {
				transform: translate3d(0, 48px, 0);
			}

			& > span {
				margin: 16px;
			}

			&:hover > span, 
			&:nth-child(9n+5) > span {
				background: #303030;
				color: white;
				transform: scale(1.05) translate3d(0, 0, 0);
			}

			&:nth-child(9n+5) > span {
				transform: scale(1.1) translate3d(0, 0, 0);
			}
		}
		
	}
}