#resources-articals,
#resources-publications,
#resources-announcements {
	position: relative;
	margin-top: 100px;
	margin-bottom: 100px;

	.section-article {
		padding: 0;
	}

	.section-article .col-md-4 .article-item {
		padding-top: 0;
	}

	@media screen and (max-width: 767px) {
		margin-top: 50px;
		margin-bottom: 50px;
		padding-bottom: 50px;

		.col-md-12 {
			position: inherit;
		}

		.article-list {
			display: none;
		}

		.heading-loadmore {
			.heading-loadmore__link {
				position: absolute;
				bottom: 0px;
				right: 30px;
			}
		}
	}
}
